
body {
    background-color: #110472;
    background-image: url("./bg-dotted.png");
    background-repeat: repeat-x;
    font-family: "Verdana", "Arial", sans-serif;
}

div#wrapper {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 5px gray solid;
}

div#userInput {
    font-size: 1.4em;
}

input#latex-query, input#latex-subquery {
    border: 1px gray solid;
    border-top-color: white;
    border-left-color: white;
    padding: 0.2em;
    font-size: 1.2em;
    width: 50%;
}

div#entries {
    padding: 2em;
}

div.entry {
    border: 5px solid lightblue;
    padding: 1em;
    margin-bottom: 1em;
}

div.entry h3 {
    border-bottom: 0.5em solid lightblue;
    padding-left: 0.5em;
}

div.entry h4 {
    border-bottom: 0.4em solid lightblue;
    padding-left: 0.5em;
}

div.entry h5 {
    border-bottom: 0.3em solid lightblue;
    padding-left: 0.5em;
}

div.entry pre, div.entry code {
    font-family: "Courier New", monospace;
}

div.entry table.symbols {
    margin-left: auto;
    margin-right: auto;
}

div.entry table.symbols td {
    border-right: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    text-align: center;
}

div.entry table.symbols td.symbol-image {
    width: 10%;
}

div.entry table.symbols td.symbol-command {
    width: 20%;
}